*{/* bloque de diseño que nos quita los margenes de la página.*/
	margin: 0px;
	padding: 0px;
}
body{/* bloque de diseño que le da color al cuerpo de la página.*/
	background: #289FE3;
	background-position: center;

}
form{/* bloque de diseño que le da color, anchura, bordes redondos y sombra al formulario.*/
	position: absolute;
	width: 450px;
	height: 390px;
	border: 4px solid #333;
	margin-top: 10%;
	margin-left: 35%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#5DADE2;
}
	form input{/* bloque de diseño que le da color, anchura, bordes redondos y sombra a los cuadro de texto del formulario.*/
	width: 280px;
	height: 10px;
	padding: 10px 10px;
	margin: 5px 0px 10px 75px;
	margin-top: 15px;
	border: 2px solid #333;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
}
form textarea{/* bloque de diseño que le da color, anchura, bordes redondos y sombra al textarea del formulario.*/
	max-width: 320px;
	min-width: 300px;
	max-height: 85px;
	min-height: 85px;
	padding: 10px 10px;
	margin: 5px 0px 10px 75px;
	border: 2px solid #333;
	margin-top: 15px;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;

}
#correo{/*bloque de diseño que le da color, anchura, bordes redondos y sombra al botón de enviar correo.*/
	width: 200px;
	height: 40px;
	margin: 10px 0px 50px 125px;
	border: 1px solid #1A5276;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	webkit-border-radius: 15px;
	background:#2980B9;
}
#correo:hover{/* subclase hover que permite cambiar de color al botón cuando se pasa el cursor. */
	background: #3a3a3a;

}

form#parrafo{/*Bloque de diseño del parrafo.*/
	font-family: fantasy;
	font-size: 15px;
	font-style: oblique;
	text-align: justify;

}
p{/*Bloque de diseño del parrafo del estado del envio.*/
	font-family: fantasy;
	font-size: 15px;
	font-style: oblique;
	text-align: justify;
	margin-top: -10px;
	
}

div{/*Bloque de diseño de un cuadro de dialogo.*/
	position: absolute;
	width: 100px;
	height: 50px;
	margin-left: 84.5%;
	margin-top: 60px;	
	text-align: center;
	font-size: 15px;
	font-style: oblique;
}
img{/*bloque de diseño que le da color, anchura, bordes redondos y sombra a la imagen del formulario.*/
	position: absolute;
	width: 50px;
	height:50px;
	margin-left: 1180px;
	margin-top: 5px;


}
ul ol{/*Bloque de diseño de la lista de opciones*/	
	list-style: none;
}
.nav li a{/*Bloque de diseño de la lista de opciones*/
	position: absolute;	
	color: #4a4a4a;
	text-decoration: none;
	padding: 0px 10px;
	margin-left: 92%;
	margin-top: -120px;
	display: block;
}
.nav > li{/*Bloque de diseño de la lista de las opciones que tiene la lista*/
	float: left;
}
.nav li ul{/*Bloque de diseño de la lista de las opciones que tiene la lista*/
	display:none;
	
	
}

.nav li:hover > ul{/*Bloque de diseño de la lista de las opciones que tiene la lista*/
	display: block;
}
.nav li a:hover{/* subclase hover que permite cambiar de color al pasar por la lista de opciones. */
	background: #808080;

}
	

button:hover{/* subclase hover que permite cambiar de color al botón cuando se pasa el cursor. */
	background: #3a3a3a;
}

header{/*bloque de diseño que le da color, anchura, bordes redondos y sombra al encabesado de la Página.*/
	background: #FFF;
	width: 100%;
	height: 110px;
	margin-top: 8px;
	
}
#estado{/*bloque de diseño del estado edel envío*/
	position: absolute;
	width: 100px;
	height: 50px;
	margin-top: 23px;
	margin-left: 77%;
	border: 1px solid #4a4a4a;
}
span{/*bloque de diseño del titulo de del estado del envío*/
	position: absolute;
	width: 100px;
	height: 50px;
	margin-left: 77%;
	margin-top: 2px;
	font-size: 15px;
	font-style: oblique;
	text-align: center;

}
#titulo{/*bloque de diseño del titulo del sistema.*/
	width: 450px;
	height: 100px;
	margin-left: 35%;
	margin-top: 20px;
	font-size: 22px;
	font-style: oblique;
	text-align: center;

}
#engrane{/*bloqque de disño del logo tipo de la empresa.*/
	position: absolute;
	width: 350px;
	height: 100px;
	margin-left: 1%;
}







