*{/* bloque de diseño que nos quita los margenes de la página.*/
	margin: 0px;
	padding: 0px;
}

body{/* bloque de diseño que le da color al cuerpo de la página.*/
	background:#289FE3;
	background-position: center;
}

form{/* bloque de diseño que le da color, anchura, bordes redondos y sombra al formulario.*/
	width: 555px;
	height: 420px;
	border: 4px solid #333;
	margin: 50px auto;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background:#5DADE2;
}
form input{/* bloque de diseño que le da color, anchura, bordes redondos y sombra a los cuadro de texto del formulario.*/
	width: 500px;
	height: 20px;
	padding: 10px 10px;
	color: #6d6d6d;
	margin: 10px 0px 10px 15px;
	text-align: center;
	border-radius: 20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border: 2px solid  #333;


}
form h1{/*bloque de diseño que le da color y anchura al titulo del formulario.*/
	text-align: center;	
	margin: 20px;
	font-size: 40px;
	font-style: oblique;
}
#en{/*bloque de diseño que le da color, anchura, bordes redondos y sombra al botón de reguistro.*/
	width: 200px;
	height: 40px;
	margin: 10px 0px 50px 180px;
	border: 1px solid #1A5276;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	webkit-border-radius: 10px;
	background:#00BFFF;
	
}
#en:hover{/* subclase hover que permite cambiar de color al botón cuando se pasa el cursor. */

	background: #3a3a3a;
/*---------------------------------------------------*/
}
div#negro{/*Bloque de diseño de un cuadro de dialogo.*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	top: 00px;
	
	
}
div#dialogo{/*Bloque de diseño de la página emergente.*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	width: 300px;
	height: 150px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #c3c3c3;


}
div#dialogo p{/*Bloque de diseño del parrafo que contiene la página emergente.*/
	padding: 10px;
	padding-top: 30px;
	font-size: 1.4em;
	text-align: center;
}
/*---------------------------------------*/

img{/*bloque de diseño que le da color, anchura, bordes redondos y sombra a la imagen del formulario.*/
margin-top: 5px;
border-radius: 1.2%;
margin-left: 70px;

}
header{/*bloque de diseño que le da color, anchura, bordes redondos y sombra al encabesado de la Página.*/
	background: #FFF;
	background-position: center;
	margin-top: 8px;
}
/*-----------------------------------------*/
div a button{/*bloque de diseño que le da color, anchura, bordes redondos y sombra al boton qu contiene la página emergente.*/
	width: 100px;
	height: 30px;
	margin: 10px 0px 50px 100px;
	border: 1px solid #1A5276;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	webkit-border-radius: 10px;
	background:#00BFFF;

}
div a button:hover{/* subclase hover que permite cambiar de color al botón cuando se pasa el cursor. */
	background: #3a3a3a;

}
/*--------------------------------------------*/
#parrafo{/*Bloque de diseño del parrafo que contiene la página emergente.*/
	font-family: fantasy;
	font-size: 15px;
	font-style: oblique;
	text-align: justify;
}







