*{/* bloque de diseño que nos quita los margenes de la página.*/
	margin: 0px;  
	padding: 0px;
}
body{/* bloque de diseño que le da color al cuerpo de la página.*/
	background: #1472a8;

}
form{/* bloque de diseño que le da color, anchura, bordes redondos y sombra al formulario.*/
	display:flex;
	flex-direction: column;
	width: 450px;  
	height: 450px;
	/* border: 4px solid #333; */
	margin: 50px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background:#5DADE2;
}
form input{ /* bloque de diseño que le da color, anchura, bordes redondos y sombra a los cuadro de texto del formulario.*/
	width: 280px;
	height: 10px;
	padding: 10px 10px;
	margin: 5px 0px 10px 75px;
	border: 1px solid #333;
	border-radius: 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	
}

#entrar{ /* bloque de diseño que le da color, anchura, bordes redondos y sombra al boton del formulario.*/
	width: 200px;
	height: 40px;
	margin: 10px 0px 50px 125px;
	border: 1px solid #1A5276;
	color: #fff;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;
	border-radius: 15px;
	-moz-border-radius: 15px;
	webkit-border-radius: 15px;
	background:#2980B9;
}
#entrar:hover{/* subclase hover que permite cambiar de color al botón cuando se pasa el cursor. */
	background: #3a3a3a;
}
#ima{/*bloque de diseño que le da color, anchura, bordes redondos y sombra a la imagen del formulario.*/
	width: 150px;
	margin: 10px 0px 10px 145px;
	border-radius: 50%;
	-moz-border-radius: 50%;
	webkit-border-radius: 50%;
	box-shadow: 0px 2px 0px #000;
	-moz-box-shadow: 0px 2px 0px #000;
	-webkit-box-shadow: 0px 2px 0px #000;

}
label{/*bloque de diseño que le da color y anchura al titulo del formulario.*/
	font-family: fantasy;
	font-size: 30px;
	font-style: oblique;	
}

#re{/*bloque de diseño que le da posición estilo de letra a el a la etiqueta a href*/
	/* position: absolute; */
	font-size: 18px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-decoration: none;
	color: rgba(10, 10, 10);
	margin-left: 42%;
	margin-top: -28px;

}
button{/*bloque de diseño que le da color, anchura, bordes redondos y sombra al botón de reguistro.*/
	width: 100px;
	height: 50px;
	background: #289FE3;
	color: #FFF;
}
button:hover{/* subclase hover que permite cambiar de color al botón cuando se pasa el cursor. */

	background: #3a3a3a;
}
header{/*bloque de diseño que le da color, anchura, bordes redondos y sombra al encabesado de la Página.*/
	background: #FFF;
	background-position: center;
	
}

img{/*bloque de diseño que le da color, anchura, bordes redondos y sombra a la imagen del formulario.*/
margin-top: 5px;
border-radius: 1.2%;
margin-left: 70px;

}

div#negro{/*Bloque de diseño de un cuadro de dialogo.*/
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	top: 0px;
	left: -0%;
}
div#dialogo{/*Bloque de diseño de la página emergente.*/
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -150px;
	margin-top: -100px;
	width: 300px;
	height: 150px;
	background-color: white;
	border-radius: 3px;
	border: 1px solid #c3c3c3;

}
div#dialogo p{/*Bloque de diseño de la página emergente.*/
	padding: 10px;
	padding-top: 30px;
	font-size: 1.4em;
	text-align: center;
}


 

